---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Section from '../../ui/Section.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards

import video01 from '../../../assets/video/codeservice.mp4'
import video02 from '../../../assets/video/devops.mp4'
import video03 from '../../../assets/video/it-services.mp4'
import video04 from '../../../assets/video/webdesign.mp4'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Let's transform your business <strong>together</strong></h2>
			<p class="text-md pb-0">
				High quality, competitively priced, flexible communication solutions that can be delivered
				in a matter of days.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="International Voice Termination Wholesale Services"
				subtitle="NTC has an advanced network providing call termination services over direct routes, with high quality and competitive prices."
				video={video01}
				link="/features"
				width="10%"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Advanced Communication Solutions for Seamless Business Integration"
				subtitle="Effortlessly integrate voice, SMS, and video into your apps with our secure, cloud-based CPaaS platform, simplifying real-time customer communications."
				video={video03}
				link="/features"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Voice and Data Solutions over Secure and Encrypted Networks."
				subtitle="NTC ensures highly secure communications between satellite terminals with robust end-to-end encryption."
				video={video02}
				link="/features"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Software Development Solutions"
				subtitle="Unlock the potential of your business with our comprehensive software development solutions for web and mobile platforms."
				video={video04}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
